
@{
    ViewData["Title"] = "VendorSubCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-edit"></i> Create Vendor Contact Person
    </h1>
</div>
<div class="row">
    <div class="col-xl-12 sortable-grid ui-sortable">
        <div id="panel-1" class="panel panel-sortable" role="widget">
            <div class="panel-hdr" role="heading">
                <h2 class="ui-sortable-handle">
                    Vendor Contact Person
                </h2>
                <div class="panel-saving mr-2" style="display:none"><i class="fal fa-spinner-third fa-spin-4x fs-xl"></i></div><div class="panel-toolbar" role="menu"><a href="#" class="btn btn-panel hover-effect-dot js-panel-collapse waves-effect waves-themed" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></a> <a href="#" class="btn btn-panel hover-effect-dot js-panel-fullscreen waves-effect waves-themed" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></a> <a href="#" class="btn btn-panel hover-effect-dot js-panel-close waves-effect waves-themed" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></a></div><div class="panel-toolbar" role="menu"><a href="#" class="btn btn-toolbar-master waves-effect waves-themed" data-toggle="dropdown"><i class="fal fa-ellipsis-v"></i></a><div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0"><a href="#" class="dropdown-item js-panel-refresh"><span data-i18n="drpdwn.refreshpanel">Refresh Content</span></a> <a href="#" class="dropdown-item js-panel-locked"><span data-i18n="drpdwn.lockpanel">Lock Position</span></a>  <div class="dropdown-multilevel dropdown-multilevel-left">											<div class="dropdown-item">												<span data-i18n="drpdwn.panelcolor">Panel Style</span>											</div>											<div class="dropdown-menu d-flex flex-wrap" style="min-width: 9.5rem; width: 9.5rem; padding: 0.5rem"><a href="#" class="btn d-inline-block bg-primary-700 bg-success-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-primary-700 bg-success-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-primary-500 bg-info-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-primary-500 bg-info-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-primary-600 bg-primary-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-primary-600 bg-primary-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-info-600 bg-primray-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-info-600 bg-primray-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-info-600 bg-info-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-info-600 bg-info-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-info-700 bg-success-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-info-700 bg-success-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-success-900 bg-info-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-success-900 bg-info-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-success-700 bg-primary-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-success-700 bg-primary-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-success-600 bg-success-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-success-600 bg-success-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-danger-900 bg-info-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-danger-900 bg-info-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-fusion-400 bg-fusion-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-fusion-400 bg-fusion-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-faded width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-faded" style="margin:1px;"></a></div>										</div>  <div class="dropdown-divider m-0"></div><a href="#" class="dropdown-item js-panel-reset"><span data-i18n="drpdwn.resetpanel">Reset Panel</span></a></div></div>
            </div>
            <div class="panel-container show" role="content">
                <div class="loader"><i class="fal fa-spinner-third fa-spin-4x fs-xxl"></i></div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <form action="" method="post">
                            <div class="panel-content">
                                <div class="frame-wrap">
                                    <div class="card p-3">
                                        <div class="panel-hdr " role="heading" style="background: #0069b8;">
                                            <h2 class="ui-sortable-handle" style="color: #ffffff;">
                                                Vendor Contact Person
                                            </h2>
                                            <div class="panel-saving mr-2" style="display:none"><i class="fal fa-spinner-third fa-spin-4x fs-xl"></i></div><div class="panel-toolbar" role="menu"></div>
                                        </div>
                                        <div class="row mb-2 mt-3">
                                            <div class="col-md-3">
                                                <label class="form-label" for="example-select">Sub-Category Code: </label>
                                                <input type="text" class="form-control" value="CT001" readonly />
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label" for="example-select">Vendor Company: </label>
                                                <select class="form-select form-control">
                                                    <option>ABC Pvt Ltd.</option>
                                                    <option>XYZ Pvt. Ltd.</option>
                                                    <option>XP Coperation</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label" for="example-select">Category: </label>
                                                    <select class="form-select form-control">
                                                        <option>ABC</option>
                                                        <option>XYZ</option>
                                                        <option>XP</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label" for="example-select">Sub-Category: </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-8">
                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-warning waves-effect waves-themed" style="float:right;" onclick="location.reload()">Cancel</button>
                                                <button type="submit" id="submit" class="btn btn-primary waves-effect waves-themed" style="float:right;margin-right: 8px;">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Sales Person Details <span class="fw-300"><i>List</i></span>
                </h2>
            </div>

            <div class="panel-container show">
                <div class="panel-content">

                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                        <thead style="background: #0069b8;">
                            <tr role="row">
                                <th style="color: #ffffff;">Sl No</th>
                                <th style="color: #ffffff;">F. Code</th>
                                <th style="color: #ffffff;">Country</th>
                                <th style="color: #ffffff;">State</th>
                                <th style="color: #ffffff;">District</th>
                                <th style="color: #ffffff;">F. Center Name</th>
                                <th style="color: #ffffff;">MObile</th>
                                <th style="color: #ffffff;">Email</th>
                                <th style="color: #ffffff;">Address</th>
                                <th style="color: #ffffff;">Sales Person</th>
                                <th style="color: #ffffff;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>FC001</td>
                                <td>India</td>
                                <td>Odisha</td>
                                <td>Khurda</td>
                                <td>FName</td>
                                <td>Contact</td>
                                <td>Email</td>
                                <td>Address</td>
                                <td>
                                    <a href=""><i class="fal fa-pencil" style="color:blue;"></i></a>
                                    <a href=""><i class="fal fa-trash" style="color:red;padding-left:12px;"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


